.tree-invisible {
    display: none;
}

.tree .mat-nested-tree-node div[role="group"] {
    padding-left: 2rem;
}

.tree div[role="group"]>.mat-tree-node {
    padding-left: 2rem;
}

.mat-tree {
    cursor: pointer;
}

.author {
    color: blue;
}